@import "tailwindcss";

:root {
  --background: #0B1120;
  /* void-navy */
  --foreground: #f8fafc;
  /* slate-50 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B1120;
    /* void-navy */
    --foreground: #f8fafc;
    /* slate-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}